.background {
    width: 1470px;
    height: 680px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;

    color: black;
    font-family: 'Times New Roman', Times, serif;

    background-image: url(Background.jpg);
    background-size: cover;
}

.contents {
    position: relative;
    top: 5px;
    left: 900px;

    width: 550px;
    height: 25px;
    padding: 10px;
    border: 2px solid black;

    background-color: aliceblue;
    text-align: center;
    word-spacing: 70px;
}

.restname {
    position: relative;
    top: -50px;

    text-align: left;
    font-family: Verdana;
    font-size: 300%;
    color: paleturquoise;
}

.line {
    position: relative;
    top: -120px;
    left: 10px;

    text-align: left;
    font-family: Verdana;
    font-size: 250%;
    color: beige;
}

.lines {
    position: relative;
    top: -100px;

    text-align: center;
    font-family: Verdana;
    font-size: 130%;
    color: white;
}

.image1 {
    position: relative;
    top: -90px;
    left: 100px;

    background-size: contain;
}

.image2 {
    position: relative;
    top: -390px;
    left: 800px;

    background-size: contain;
}

.copyrights {
    position: relative;
    top: -330px;
    left: -20px;

    width: 1510px;
    height: 20px;

    background-color: gray;
    text-align: center;
}
